.card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #4172d1;
}

.cardImage {
  width: 100%;
  flex-basis: 50%;
  background: rgb(238,174,202);
  background: linear-gradient(307deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.cardLink {
  text-decoration: none;
}