.card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #4172d1;
}

.cardImage {
  width: 100%;
  flex-basis: 50%;
  background: black;
}

.cardLink {
  text-decoration: none;
}