.uploadInput {
  display: none; /* Hide the default input */
}

.uploadButton {
  display: flex; /* Use Flexbox to center the text */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  border-radius: 50%; /* Make it circular */
  border: none;
  cursor: pointer;
  padding: 0.4em;
  margin-left: auto;

}

.uploadButton:hover {
  box-shadow: 0 0 10px 3px #4172d1;
}